<h1>A Bear, a bear!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Yes! I don't read anything after it's come out, because I will not waste
            my precious time on such ridiculous nonsense. But I understand, according
            to you, that there was a lot of curiosity about the Vatican assassins. No,
            you won't get high .... It's all good. It's all good, guys. Quit panicking.
            Quit panicking. No panic, no judgment. You know? Dealing with soft targets,
            and it's just strafing runs in my underwear before my first cup of coffee
            because I don't have time for these clowns. I don't have time for their
            judgment and their stupidity and .... (sighs) They will lose the rest of
            their lives as they think about me and my life for the rest of their lives.
            So ... it's ... there's no ... again, bring me a challenge, somebody. Bring
            me a frickin' challenge. Because, you know ... it just ain't there.
            WINNING!  They have zero. They have that night, and I will forget about
            them as the last image of them exits my beautiful home. And they will get
            out there and they will sell me, and they will lose.</p>
      </div>
      <div class="anxiety col-md-4">
        <%= link_to "I'm Feeling Awkward", goodbye_path(type: "anxiety") %>
        <img class="schizo" src="<%= asset_path('pooh55555') %>" alt="Not gweat" />
      </div>
    </div>
  </div>
</main>
