/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .jumbotron {
   background-image: url(http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png) !important;
   margin-top: -20px;
   font-size: 0;
 }

 .putit {
   max-height: 30vw;
   max-width: 15vw;
   display: block;
   margin: 0 auto;
   margin-top: 85px;
 }


@media screen and (max-width: 991px) {

  .putit {
    margin-top 30px;
  }

}

@media screen and (max-width: 770px) {

#title_of {
    font-size: 40px
  }

#below_title {
    font-size: 15px
  }

}
